//
// general utilities
// --------------------------------------------------

.no-userselect,
%no-userselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.is-hidden,
[hidden] {
  visibility: hidden !important;
}

.is-visible {
  visibility: visible !important;
}
