//
// general utilities
// --------------------------------------------------

.no-userselect,
%no-userselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.is-hidden,
[hidden] {
  position: absolute !important;
  height: 0 !important;
  visibility: hidden !important;
}

.is-visible {
  visibility: visible !important;
}

.text-center {
  text-align: center;
}
