//
// page footer
// --------------------------------------------------

footer {
  position: relative;
  display: block;
  height: 30px;

  @include media-breakpoint-up($gutterBreak) {
    height: 100px;
  }
}
