
//- global variables
- var globalName = 'WirVsVirus'
- var layoutExtension = '.html'

//- default folders
- var folderImages = '/assets/img/'
- var folderIcons = '/assets/img/icons/'
- var folderLogos = '/assets/img/logos/'
- var folderJsLib = '/assets/js/lib/'
- var folderJs = '/assets/js/'

//- hash for assets
- var hash = Math.floor(Math.random() * (1000000 - 10000000) + 10000000)