// colors
$primary: #a0c814;
$secondary: #5ac8f5;
$black: #000;
$white: #fff;
$light: #f8f8f6;
$grey: #929a9e;
$dark: #191919;

$color-body: $dark;
$color-text: $dark;
$color-headline: $dark;
$color-link: $primary;
$color-link-hover: $primary;

$bg-body: $white;

// typography
$font-base: 'ClanPro-NarrMedium', Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 19px;
$font-weight-base: 400;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// grid
$grid-columns: 12;
$grid-gutter-width: 16px;
$grid-gutter-width-desktop: 24px;
$grid-max-width: 760px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1366px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1280px,
  xl: 1380px,
  xxl: 1410px
);

// switch gutter-width from mobile to desktop
$gutterBreak: lg;

// easings
$ease-transform: cubic-bezier(0.2, 1, 0.25, 1);
$ease-opacity: cubic-bezier(0.75, 0.1, 0.175, 1);
