@import '_variables.scss';

//
// general
// --------------------------------------------------

body {
  width: 100%;
  margin: 0;
  background: white;
  color: black;

  // font rendering
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
}

//
// utilities
// --------------------------------------------------

@import '_utilities/utilities.scss';

//
// fragments
// --------------------------------------------------

@import '_fragments/overlay.scss';
