//- here our messages are displayed
.modal-wrapper

  //- activate room modal
  .modal.modal-room-activate
    p Um eine SMS verschicken zu können, muss ihr Raum aktiviert und bestätigt werden.
    button.room-activate.primary Jetzt aktivieren