//- here our messages are displayed
.modal-wrapper

  //- activate room modal
  .modal.modal-room-activate
    p Zum aktivieren der SMS Funktion geben Sie bitte ihren 6 stelligen Aktivierungscode ein.
    input.room-activation-code(placeholder='xxxxxx')
    button.room-activate Jetzt aktivieren
    p Alternativ können Sie PATIENT PAGER auch ohne SMS Funktion im Testmodus starten.
    a.modal-close(href='javascript:void(0);') Testmodus starten