//- create waiting room
.view.create-waiting-room
  .container
    .row
      .col-12.text-center
        h1 Reduziere das Infektionsrisiko. <br/>Dein digitaler Warteraum. <br/>Patientenaufruf per SMS.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        img(src=folderImages + 'patient-call.png', title='', alt='')
        button.room-create.primary Warteraum erstellen