//- create waiting room
.view.create-waiting-room
  .container
    .row
      .col-12.text-center
        h1 Dein digitaler Warteraum.<br/>Reduziere das Infektionsrisiko.<br/>Patientenaufruf per SMS.
        p Erweitere deinen Warteraum - schütze dich und deine Patienten.
        img(src=folderImages + 'patient-call.png', title='', alt='')
        button.room-create.primary Warteraum erstellen