//- user dashboard
.view.user-dashboard
  .container
    .row
      .col-12
        h1 Willkommen bei Patients Pager
        p Dies ist ein Prototyp - das User Dashboard wird noch weiter ausgearbeitet.
        p.user-status

