//- waiting room
.view.waiting-room
  input.user-name(type='text', value='Marco', placeholder='Name')
  input.user-phone(type='text', value='123', placeholder='Telefonnummer')
  button.user-create Patient erstellen
  button.room-remove Warteraum entfernen