//- waiting room
.view.waiting-room
  input.doctor-name(type='text', placeholder='Arztname')
  button.doctor-create Arzt erstellen
  br
  br
  input.user-first-name(type='text', value='Marco', placeholder='Vorname')
  input.user-name(type='text', value='Koenen', placeholder='Nachname')
  input.user-phone(type='text', value='123', placeholder='Telefonnummer')
  select.doctor-select
  button.user-create Patient erstellen
  br
  br
  button.room-remove Warteraum entfernen