//
// create waiting room view
// --------------------------------------------------

.view.create-waiting-room {
  position: relative;

  h1 {
    margin-bottom: 10px;
    margin-top: 40px;

    @include media-breakpoint-up($gutterBreak) {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }

  p {
    margin-bottom: 40px;

    @include media-breakpoint-up($gutterBreak) {
      margin-bottom: 60px;
    }
  }

  img {
    width: 280px;
  }

  button {
    display: block;
    margin: 100px auto 0;
    float: none;

    @include media-breakpoint-up($gutterBreak) {
      left: -10px;
    }
  }
}
