//
// waitingRoom view
// --------------------------------------------------

.view.waiting-room {
  position: relative;

  h1 {
    margin: 35px 0 80px;
  }

  .patient-check-in,
  .doctor-create-wrapper {
    margin-bottom: 40px;

    @include media-breakpoint-up($gutterBreak) {
      margin-bottom: 0;
    }
  }
}
