//
// modal
// --------------------------------------------------

.modal-wrapper {
  position: fixed;
  display: block;
  top: 45px;
  right: 20px;
  z-index: 50;
  pointer-events: none;

  .modal {
    position: relative;
    width: 100%;
    max-width: 210px;
    padding: 15px;
    opacity: 0;
    background: $primary;
    border-radius: $border-radius;
    transition: transform 0.65s $ease-transform 0.75s, opacity 0.35s $ease-opacity;
    transform: translateY(15px);
    margin-bottom: 20px;

    &.is-error {
      background: $error;
    }

    &.is-open {
      opacity: 1;
      transition: transform 0.65s $ease-transform, opacity 0.35s $ease-opacity;
      transform: translateY(0);
    }

    &.modal-room-activate {
      max-width: 320px;
      background: $grey;
      pointer-events: all;

      button {
        float: none;
        margin-top: 20px;
        display: flex;
        margin-left: auto;
      }
    }

    p {
      color: $white;
      font-family: $font-base;
      line-height: 18px;
      font-size: 14px;
    }
  }
}
