//
// select
// --------------------------------------------------

select {
  position: relative;
  display: block;
  width: 100%;
  height: $input-height;
  padding: 13px 15px;
  background: $light;
  color: #959d95;
  border: 0;
  border-radius: $border-radius;
  transition: background $time-opacity $ease-opacity;
  direction: ltr;
  font-size: 14px;
  margin-bottom: 20px;

  // hide nativ arrows
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  @include media-breakpoint-up($gutterBreak) {
    width: 200px;
    margin-bottom: 0;
  }

  &:hover {
    background: #dcebdd;
  }

  &:not([value='']) {
    color: $dark;
  }

  // options
  option {
    color: $dark;
    font-family: $font-base;
    line-height: 18px;
    font-size: 14px;

    // hide empty and hidden options
    &:empty,
    &[hidden] {
      display: none !important;
      width: 0px;
      height: 0px;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
    }
  }

  &.is-error {
    background: $error;

    &::-webkit-input-placeholder {
      color: $white;
    }

    &:-moz-placeholder {
      opacity: 1;
      color: $white;
    }

    &::-moz-placeholder {
      opacity: 1;
      color: $white;
    }

    &:-ms-input-placeholder {
      color: $white;
    }

    &::-ms-input-placeholder {
      color: $white;
    }

    &::placeholder {
      color: $white;
    }
  }
}

.select-wrapper {
  position: relative;
  display: block;

  @include media-breakpoint-up($gutterBreak) {
    display: inline-block;
  }

  // arrows
  &:after {
    content: '';
    position: absolute;
    top: 12px;
    right: 20px;
    width: 10px;
    height: 20px;
    background: url('./../img/icons/icon-select-arrows.svg');
    background-size: contain;
    background-repeat: no-repeat;

    @include media-breakpoint-up($gutterBreak) {
      right: 30px+10px;
    }
  }

  select {
    display: inline-block;
    margin-right: 30px;
  }
}
