extends fragments/layout.pug

//- overwrite variables
block vars
  - var title = 'Home'

//- page content
block content

  include ./views/createRoom.pug
  include ./views/waitingRoom.pug
  include ./views/userDashboard.pug

