extends fragments/layout.pug

//- overwrite variables
block vars
  - var title = 'Home'

//- page content
block content
  h1 hello world

  input#phone(type='text', placeholder='Telefonnummer')
  button.user-create Patient erstellen