extends fragments/layout.pug

//- overwrite variables
block vars
  - var title = 'Home'
  - var slug = 'home'

//- page content
block content

  //- create waiting room
  .room-create-wrapper
    h2 Warteraum erstellen
    button.room-create Warteraum erstellen

  //- show user information
  .user-dashboard
    h2 User information
