doctype html
html(lang='de')

  //- page specific variables
  block vars
    - var title = 'Default title'
    - var slug = null

  include ./../inc/variables.pug
  include head.pug

body.is-animating

  //- default content
  .page-content(page=slug)
    block content

  //- default footer
  footer
    block footer
      include footer.pug

  //- imports
  include ./../inc/imports.pug