doctype html
html(lang='de')

  //- page specific variables
  block vars
    - var title = 'Default title'

  include ./../inc/variables.pug
  include head.pug

body.is-animating

  //- default content
  block content

  //- default footer
  footer
    block footer
      include footer.pug

  //- imports
  include ./../inc/imports.pug